@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    --White: hsl(0, 0%, 100%);
    --Light-gray: hsl(212, 45%, 89%);
    --Grayish-blue: hsl(220, 15%, 55%);
    --Dark-blue: hsl(218, 44%, 22%);
}

img {
    max-width: 100%;
    border-radius: 15px;
    margin-bottom: 1rem;
}

body {
    font-family: 'Outfit', sans-serif;
    font-size: 15px;
    background-color: var(--Light-gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 1px);
    margin: 2rem;
}
.container {
    border-radius: 15px;
    padding: 1.25rem;
    background-color: var(--White);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.15);
    margin-bottom: 2rem;
}
.container h1 {
    color: var(--Dark-blue);
    text-align: center;
    margin-bottom: 20px;
}
.container p {
    color: var(--Grayish-blue);
    text-align: center;
    width: 70%;
    margin-left: 50px;
    margin-bottom: 30px;
}

.attribution { 
    font-size: 11px; text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}

@media (min-width: 500px) {
    .container {
        width: 400px;
    }
}